// Supabase Configuration
SUPABASE_URL = https://udwfrwzkwbdxqpqlvqfd.supabase.co
SUPABASE_ANON_KEY = sb_secret_YYvzb042xc55IOx_xKwbuA_1XsLPnhb
// TMDB API Configuration
// Get your API key from: https://www.themoviedb.org/settings/api
TMDB_API_KEY = 4645f26927ce6f8019e4afdcb3229ec4
TMDB_ACCESS_TOKEN = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI0NjQ1ZjI2OTI3Y2U2ZjgwMTllNGFmZGNiMzIyOWVjNCIsIm5iZiI6MTc3NDM3NDk3Ni4wOTEsInN1YiI6IjY5YzJkMDQwMGQ4OTc1MzRhYzdiMzQ2ZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.PT2pRE159Xyt9KuL8DPLMCe2G5gieGCNm_hb-1ehkwA

